@(message: String)

@main("Travel Cheap") {

    <script>
            var x = prompt('Ingresa Nombre o ID')
            console.log(x)
            var y = prompt('Contraseña')
            console.log(y)
            while(y!="sujeto123"){
                var y = prompt('Contraseña incorrecta intenta de nuevo')
                console.log(y)

            }
       alert('Bienvenido de nuevo '+x)
    </script>
    </br></br>
    <div style="text-align:center">
        <a href="/reservacion">
        <button type="button" shape="round" class="btn btn-primary btn-lg"  style='width: 500px; height:150px' > <h1>Dar baja  reservación</h1></button>
        </a>
    </div>
    </br> </br>
    <div style="text-align:center">
        <a href="/menor">
            <button type="button" shape="round" class="btn btn-primary btn-lg"  style='width: 500px; height:150px' > <h1>Buscar hotel por precio</h1></button>
        </a>
    </div></br></br>
  <div style="text-align:center">
    <a href="/todo">
      <button type="button" shape="round" class="btn btn-primary btn-lg"  style='width: 500px; height:150px' > <h1>Ver todos los hoteles</h1></button>
    </a>
  </div> </br></br>
    <div style="text-align:center">
        <a href="/estrellas">
            <button type="button" shape="round" class="btn btn-primary btn-lg"  style='width: 500px; height:150px' > <h1>Buscar hotel por estrellas</h1></button>
        </a>
    </div></br></br>
    <div style="text-align:center">
        <a href="/configuracion">
            <button type="button" shape="round" class="btn btn-primary btn-lg"  style='width: 500px; height:150px' > <h1>Ajustes administrador</h1></button>
        </a>
        </br></br></br></br></br></br>
        <h3>travel cheap S.A.C.B</h3>todos los derechos reservados
    </div>
}