@(message: String)

@main("Travel Cheap") {


    </br></br>
    <div style="text-align:center">
        <a href="/deleteRes">
        <button type="button" shape="round" class="btn btn-info"  style='width: 400px; height:100px' > <h1> Delete reservation</h1></button>
        </a>
    </div> </br> </br>
  <div style="text-align:center">
    <a href="/all">
      <button type="button" shape="round" class="btn btn-info"  style='width: 400px; height:100px' > <h1> See all reservations </h1></button>
    </a>
  </div>
    </br></br>
    <div style="text-align:center">
        <a href="/#">
            <button type="button" shape="round" class="btn btn-info"  style='width: 400px; height:100px' > <h1> Modify a reservation</h1></button>
        </a>
    </div>
    </br></br>
    <div style="text-align:center">
        <a href="/#">
            <button type="button" shape="round" class="btn btn-info"  style='width: 400px; height:100px' > <h1> Month with more income </h1></button>
        </a>
    </div>
    </br></br>
    <div style="text-align:center">
        <a href="/#">
            <button type="button" shape="round" class="btn btn-info"  style='width: 400px; height:100px' > <h1> Serch reservation </h1></button>
        </a>
    </div>
}