@(message: String)

@import helper._

@main(message) {

    <div class="container">
        <h1>Delete</h1>


        @form(action = routes.Application.deleteX()) {

            <div class="form-group">
                <label for="Phone">Phone</label>
                <input name="phone" type="number" class="form-control" id="Phone" placeholder="Phone">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        }
    </div>


}