@(message: String)


@main("Scala Play forms tutorial") {
    <h1>Scala Play forms tutorial</h1>

    <script>
        var a = prompt('Name: ')
        console.log("Name:"+a)
        var b = prompt('Email: ')
        console.log("Email:"+b)
        var p = prompt('Phone number: ')
        console.log("Phone:"+p)
        var c = prompt('Adults ($1,200.00): ')
        console.log("Adults:"+Number(c))
        var d = prompt('Children or elderly ($800.00): ')
        console.log("Other"+Number(d))
        //var e = prompt('Spa: ')
        console.log("Gym:"+0)
        //var f = prompt('Gym: ')
        console.log("Spa:"+0)
        var g = prompt('Arrival day: ')
        console.log("Day in:"+Number(g))
        var h = prompt('Arrival month: ')
        console.log("Month in:"+Number(h))
        var i = prompt('Day of exit: ')
        console.log("Day out:"+Number(i))
        var j = prompt('Month of exit: ')
        console.log("Month out:"+Number(j))
        var k = prompt('Floor +$500,00: ')
        console.log("Floor:"+Number(k))
        var n = prompt('Total nights: ')
        console.log("Noches:"+Number(n))
        var m = Number(c)*1200*n+Number(d)*800*n+(Number(k-1)*500); //total
        console.log("Total:"+Number(m))
        var l;
        if (confirm("Are you a FCFM student? (total-10%): ")) {
            l =true;
            m=m*(0.90);
        } else {
            l =false;
        }
        console.log("Student:"+l)

        var linea = c + ',' + g + ',' + i + ',' + b + ',' + l + ',' + k + ',' + '0' + ',' + h + ',' + j + ',' + a + ',' + d + ',' + p + ',' + '0' + ',' + m
        console.log(linea)
        console.log(typeof linea)
        
        var oReq = new XMLHttpRequest()
        oReq.open("post", `http://localhost:9000/pruebas`, true);
        oReq.send(linea)
        console.log("ENVIADO")
</script>
    <!-- <script>
        var x = prompt('Hotel')
        console.log(x)
        var y = prompt('Ciudad')
        console.log(y)
        var linea = x + ',' + y
        console.log(linea)
        var oReq = new XMLHttpRequest()
        oReq.open("post", `http://localhost:9000/hotelPost`, true);
        oReq.send(linea)
    </script> -->
    
}