@(message: String)

@main("Travel Cheap") {


<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col " >
      <a href="/hotel1" class="text-center" style="max-width: 0rem;" >
        <div class="card text-white bg-primary mb-3" >
          <div class="card-header" style="font-size: 18px;">HOTEL ★★★  -  Vallarta
          </div>
          <div class="card-body">
            <h3 class="card-title">Silver Hotel</h3>
            <p class="card-text">Dubbed the hottest hotel on Puerto Vallarta, Silver Hotel is a dare-to-be-different hotel that captures the glamour and vibe of port. Set against a breathtaking backdrop of the beach and Puerto Vallarta skyline, this lifestyle hotel boasts 470 wide rooms and suites with ocean or city views.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <img src="assets/images/hotel1.jpg" height="200" width="500">
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col " >
      <a href="/hotel2" class="text-center" style="max-width: 0rem;" >
        <div class="card text-white bg-primary mb-3" >
          <div class="card-header" style="font-size: 18px;">HOTEL ★★★★  -  Cancun
          </div>
          <div class="card-body">
            <h3 class="card-title">Temptation Hotel</h3>
        <p class="card-text">If you have been seeking an authentic, one-of-a-kind Playground for Grown-Ups, 21+, then brace yourself for a whole new level of adults-only vacationing! While playing at our adult-centric, all-inclusive resort with exclusive topless-optional areas, you will enjoy a sense of freedom you never knew existed, and not to mention an insanely sexy amount of fun!</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <img src="assets/images/hotel2.jpg" height="200" width="500">
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col " >
      <a href="/hotel3" class="text-center" style="max-width: 0rem;" >
        <div class="card text-white bg-primary mb-3" >
          <div class="card-header" style="font-size: 18px;">HOTEL ★★★★★  -  Los Cabos
          </div>
          <div class="card-body">
            <h3 class="card-title">Hyatt Ziva Los Cabos</h3>
        <p class="card-text">All you can eat. All you can drink. All you can do. All, included in your room rate.  Perched on the tip of the Baja California Peninsula, Hyatt Ziva Los Cabos is a luxurious all-inclusive oasis for all-ages. Just up the Pacific Coast, between desert dunes and ocean rock formations, our magnificent beachfront resort offers spectacular views of the Sea of Cortez and is only minutes from San José del Cabo.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <img src="assets/images/hotel3.jpg" height="200" width="500">
    </div>
  </div>
  
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col">
      <div style="text-align:center">
        <a href="/admin">
          <button type="button" class="btn btn-secondary" style='width: 250px; height:80px'> <h2 class="text-white">Administrator </h2></button>
        </a >
        </div>
    </div>
  </div>

  
</div>

}
