@(message: String)

@main("Travel Cheap") {


<div class="container">
  <a href="/hotel1">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">HOTEL ★★★
      </div>
      <div class="card-body">
        <h4 class="card-title">Silver Hotel</h4>
        <p class="card-text">Dubbed the hottest hotel on Puerto Vallarta, Silver Hotel is a dare-to-be-different hotel that captures the glamour and vibe of port. Set against a breathtaking backdrop of the beach and Puerto Vallarta skyline, this lifestyle hotel boasts 470 wide rooms and suites with ocean or city views.</p>
      </div>
    </div>
    <img src="assets/images/hotel1.jpg">
  </a>

  <a href="/hotel3">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">HOTEL ★★★★★
      </div>
      <div class="card-body">
        <h4 class="card-title">Los Cabos Deluxe</h4>
        <p class="card-text">Best Hotel in Los Cabos. The best resort for families and pets. Enjoy your vacations with us</p>
      </div>
    </div>
    <img src="assets/images/hotel1.jpg">
  </a>


</br>
</br>
  <div style="text-align:center">
  <a href="/admin">
    <button type="button" class="btn btn-secondary" style='width: 250px; height:80px'> <h2>Administrator </h2></button>
  </a >
  </div>
</div>

}
