@import scala.collection.mutable.ArrayBuffer

@(mes: ArrayBuffer[String])(income: ArrayBuffer[String])(occupation: ArrayBuffer[String])(reservations: ArrayBuffer[String])

@main("More profit") {

    <div class="container" style="height: 100vh;">

        <h1> Month with a total of more income </h1>
        </br> </br> </br> </br>
        <div class="row justify-content-center">
        @for(n <- mes) {
            <div class="card border-success mb-5" style="max-width: 40rem;">
                <div class="card-header"> <b>
                    @if(mes(mes.indexOf(n)) == "1") {January}@if(mes(mes.indexOf(n)) == "2") {February}@if(mes(mes.indexOf(n)) == "3") {March}@if(mes(mes.indexOf(n)) == "4") {April}@if(mes(mes.indexOf(n)) == "5") {May}
                    @if(mes(mes.indexOf(n)) == "6") {June}@if(mes(mes.indexOf(n)) == "7") {July}@if(mes(mes.indexOf(n)) == "8") {August}@if(mes(mes.indexOf(n)) == "9") {September}@if(mes(mes.indexOf(n)) == "10") {October}
                    @if(mes(mes.indexOf(n)) == "11") {November}@if(mes(mes.indexOf(n)) == "12") {December}</b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Relevant information:</h5>
                    <p class="card-text">
                        Total occupancy: @occupation(mes.indexOf(n))
                        </br>
                        Reservations: @reservations(mes.indexOf(n))
                        </br>
                        <b style="color = #01DF3A"> Total income: @income(mes.indexOf(n)) </b>
                    </p>
                </div>
            </div>
        }
        </div>
        <button class="btn btn-lg btn-primary">
            <a style="color: white;" href='/admin'>Back to admin</a>
        </button>
    </div>
}