
@(message: String)


@main("travelcheap") {


    <script>
            var x = prompt('Hotel')
            console.log(x)
            var y = prompt('Ciudad')
            console.log(y)
            var linea = x + ',' + y
            console.log(linea)
            var out = ""
            var hotels = stmt.executeQuery("SELECT name FROM hotels")
            if(hotels!='x'){
                while (hotels.next && hotels!='x' ) {
                    out += "Read from DB: " + hotels.getString("name") + "\n"
                }
                out.delete(linea)
            }else{
                out.delete(linea)
            }

    </script>
    <body>
    </br>
        <h1>Tu reservación ha sido eliminada con exito!</h1>
    </body>

}