@(message: String)(action: Int)

@import helper._

@main(message) {

    <div class="container" style="height: 100vh;">
        <h1>@message</h1>


        @form(action = routes.Application.searchReservationForm(action)) {

            <div class="form-group">
                <label for="Phone">Phone</label>
                <input name="phone" type="number" class="form-control" id="Phone" placeholder="Phone" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        }
    </div>


}
